header{
  text-align: center;
  padding: 2% 1% 1%;
  color: #ecf0f1;
  background-size: cover;
	background-attachment: fixed;
}

header .overlay{
	width: 100%;
	padding: 20px;
	color: #FFF;
	text-shadow: 1px 1px 1px #333;
}

.header-img{
  background-image: url("img/header-pic.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #333;
}
