.main{
  padding: 1%;
  background-color: #1abc9c;
}

.main .container{
  border-radius: 2px;
  padding: 1%;
  margin-top: 1%;
  height: 180px;
  overflow-y: auto;
  background-color: #16a085;
  color: #ecf0f1;
  box-shadow: 0 3px 2px 0 #0000003b;
}

.main .main-img{
  float: left;
  padding: 0;
  margin: .5%;
}

.slide-img{
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.slideshow-container {
  max-width: 100%;
  height: 200px;
  overflow-y: scroll;
  position: relative;
  margin-bottom: 1%;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  background-color: rgb(0,0,0,0.8);
  /* text-align: center; */
  left: 43%;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  border: 1px solid black;
  border-radius: 2px;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.dot{
  cursor: pointer;
  height: 15px;
  width: 15px;
  background-color: #bbb;
  margin: 0 2px;
  border-radius: 50%;
  transition: background-color 0.6s ease;
  display: inline-block;
  left: 0;
}

.dot-container{
  left: 0;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
