ul{
  position: fixed;
  left:0;
  height: 100%;
  width: 10%;
  margin: 0;
  padding: 0;
  color: white;
  background-color: #3498db;
  position: fixed;
  overflow: auto;
}

li{
  text-align: center;
  width: 100%;
  box-shadow: 1px 0 2px 0 #0000003b;
  /* border: 1px solid white; */
  display: block;
}

li a{
  display: block;
  padding: 14px 16px;
  text-decoration: none;
  color: white;
}

li a:hover {
  background-color: #ecf0f1;
  color: #2980b9;
}

.active{
  background-color: #2980b9;
}
